{% set css %} {% include "style.css" %} {% endset %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Brett Kinnamon | Web Developer</title>
    <style>
      {{css | cssmin | safe}}
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js" integrity="sha512-YSdqvJoZr83hj76AIVdOcvLWYMWzy6sJyIMic2aQz5kh2bPTd9dzY3NtdeEAzPp/PhgZqr4aJObB3ym/vsItMg==" crossorigin="anonymous"></script>
  </head>
  <body class="pa-4">
    <header class="card flex title">
      <img class="flex-shrink-1 portrait" src="./images/me.jpg" />
      <div class="pa-4 flex-grow-1 flex flex-column justify-center header">
        <h1 class="type-h3">Brett Kinnamon</h1>
        <h2 class="type-h1">Web Developer</h2>
        <div class="social">
          <a href="https://github.com/bkinnamon" class="social__link" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://gitlab.com/bkinnamon" class="social__link" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-gitlab"></i>
          </a>
          <a href="https://twitter.com/bdkinnamon" class="social__link" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </div>
    </header>

    <main class="main">
      {{ content | safe }}
    </main>

    <script src="./js/main.js"></script>
  </body>
</html>
