* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  line-height: 1.5em;
}

body {
  background: #e5e5e5;
}

img {
  height: auto;
  width: 100%;
}

p {
  margin: 1rem 0;
}

/* GENERAL STYLES */

.btn {
  appearance: none;
  background: #d2d2d2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  padding: 1rem;
  transition: 200ms;
}

.btn:hover {
  background: #b2b2b2;
}

.card {
  background: #ffffff;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 3px #00000044;
  display: inline-block;
  overflow: hidden;
  padding: 0;
  text-align: left;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}

.justify-center {
  justify-content: center;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

.flex-shrink-1 {
  flex-shrink: 1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
}

.grid-gap-4 {
  gap: 4rem;
}

.h-100 {
  height: 100%;
}

.pa-1 {
  padding: 1rem;
}

.pa-4 {
  padding: 4rem;
}

.type-h1 {
  font-size: 3rem;
  font-weight: lighter;
}

.type-h2 {
  font-size: 1.5rem;
  font-weight: normal;
}

.type-h3 {
  font-size: 1.25rem;
  font-weight: normal;
}

.type-p {
  font-size: 1rem;
  font-weight: normal;
}

@media screen and (max-width: 699px) {
  .pa-4 {
    padding: 1rem;
  }

  .pa-1 {
    padding: 0.25rem;
  }
}

@media screen and (max-width: 906px) {
  .type-h1 {
    font-size: 2rem;
  }

  .type-h2 {
    font-size: 1.25rem;
  }

  .type-h3 {
    font-size: 1rem;
  }
}

/* CUSTOM STYLES */

.title {
  min-height: calc(50vh - 6rem);
}

.portrait {
  align-self: flex-start;
  margin: 0 auto;
  max-width: calc(50vh - 6rem);
}

.main {
  min-height: calc(50vh - 6rem);
  margin-top: 4rem;
}

.backdrop {
  background: #e5e5e5;
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  pointer-events: none;
  transition: 200ms;
  width: 100vw;
  z-index: 50;
}

.backdrop.open {
  opacity: 1;
  pointer-events: all;
}

.btn-close {
  background: transparent;
  position: fixed;
  right: 0.5rem;
  top: 0.5rem;
}

.project-grid {
  min-height: 0;
  height: 100%;
}

.project {
  background: #ffffff;
  color: #222222;
  display: flex;
  flex-direction: column;
  height: calc(50vh - 6rem);
  min-height: 256px;
  min-width: 256px;
  padding-bottom: 1rem;
  text-decoration: none;
  transition: 500ms;
}

.project:hover {
  background: #ffffff;
  box-shadow: 0 4px 6px #00000044;
  transform: translate(0, -2px);
}

.project__content {
  flex: 1;
  min-height: 0;
  overflow: hidden;
}

.open .project__content {
  overflow-y: auto;
}

.project__image {
  max-height: 50%;
  overflow: hidden;
}

.social {
  white-space: nowrap;
}

.social__link {
  color: #888;
  font-size: 2rem;
  margin-right: 1rem;
  outline: none;
  text-decoration: none;
}

.social__link:focus,
.social__link:hover {
  color: #333;
}

@media screen and (max-width: 699px) {
  .btn-close {
    display: none;
  }

  .main {
    margin-top: 1rem;
  }

  .portrait {
    max-width: 100%;
  }

  .project-grid {
    gap: 1rem;
  }
}

@media screen and (max-width: 906px) {
  .header {
    padding: 1rem;
  }
}