---
layout: layout.njk
---

<div class="backdrop">
  <button class="btn btn-close">X</button>
</div>

<div class="grid grid-gap-4 project-grid">
  <div role="button" class="btn card project">
    <div class="project__image">
      <img src="./images/website.png" />
    </div>
    <div class="pa-1 project__content">
      <h3 class="type-h3">Personal Website</h3>
      <p>My personal website that showcases my accomplishments.</p>
      <p>
        <a
          href="https://gitlab.com/bkinnamon/brettk-dev"
          target="_blank"
          rel="noopener noreferrer"
        >
          Code
        </a>
      </p>
      <p>Tech used:</p>
      <ul>
        <li>Eleventy</li>
      </ul>
    </div>
  </div>

  <div role="button" class="btn card project">
    <div class="project__image">
    <img src="./images/parts-browse.png" />
    </div>
    <div class="pa-1 project__content">
      <h3 class="type-h3">Wright Manufacturing Parts Browse</h3>
      <p>The parts lookup system for Wright Manufacturing, Inc.</p>
      <p>
        <a
          href="https://parts.wrightmfg.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          Visit the site
        </a>
      </p>
      <p>
        Over the course of a few months I built the web client for the Wright
        Manufacturing, Inc. parts lookup web app.
      </p>
      <p>Tech used:</p>
      <ul>
        <li>Vue</li>
        <li>Vuetify</li>
      </ul>
    </div>
  </div>

  <div role="button" class="btn card project">
  <div class="project__image">
    <img src="./images/clue-companion.png" />
  </div>
    <div class="pa-1 project__content">
      <h3 class="type-h3">Clue Companion</h3>
      <p>A digital tracking sheet for the game Clue.</p>
      <p>
        <a
          href="https://clue.brettk.dev"
          target="_blank"
          rel="noopener noreferrer"
        >
          Visit the site
        </a>
      </p>
      <p>
        <a
          href="https://gitlab.com/bkinnamon/clue-companion"
          target="_blank"
          rel="noopener noreferrer"
        >
          Code
        </a>
      </p>
      <p>
        My family and I were sitting down playing a game of Clue when I had the
        thought of tracking the clues digitally. My initial thought was that it
        would save paper (yay!) but it's also helped us keep our work a secret.
      </p>
      <p>Tech used:</p>
      <ul>
        <li>React</li>
        <li>ParcelJS</li>
      </ul>
    </div>
  </div>
</div>
